.module {
    width: 300px;
    /* margin: 0 0 1em 0; */
    /* overflow: hidden; */
}

.module h6, .module p {
    /* margin: 0; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
} */

.card {
    height: 370px;
}
